@charset "utf-8";
@import url("index.html");
/* CSS Document */
Body {
    background-color: yellow;
    font-size: 20px;
    text-decoration-color: rebeccapurple;
    color:darkblue;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    text-align: center
			
			
}

 h1 {
  text-align: center;
  color: blue;
    font-family: cursive;
    font-size: 24    
  


}



